includes:
	- lib.neon

parameters:
	symfony:
		container_xml_path: %currentWorkingDirectory%/var/cache/dev/App_KernelDevDebugContainer.xml

	ignoreErrors:
		# We will always have the issue, that the type of the prop and the database type won't match,
		# as we validate in between and PHPStan can't know that. So let's just deactivate it.
		- identifier: doctrine.columnType

		# Let's ignore return types of Storyblok stories for now
		-
			identifier: return.type
			path: %currentWorkingDirectory%/src/Storyblok/Component/*Story.php
